.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-block; }

* html .clearfix {
  height: 1%; }

/* Hides from IE-mac \*/
.clearfix {
  display: block; }

.nt_wrapper,
.nt_wrapper *,
.nt_wrapper *:before,
.nt_wrapper *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.nt_wrapper {
  color: #333;
  line-height: 1.3;
  margin-bottom: 1em; }
  .nt_wrapper .nt_header {
    font-size: 1.3em;
    margin: .5em 0; }
  .nt_wrapper table {
    line-height: 1;
    margin: 0; }
    .nt_wrapper table td {
      vertical-align: middle; }
  .nt_wrapper .nt_item_info {
    border-collapse: separate;
    border-spacing: 2px; }
  .nt_wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .nt_wrapper:not(.nt_chart) .nt_widget img,
  .nt_wrapper:not(.nt_chart) .nt_widget span {
    display: block; }
  .nt_wrapper:not(.nt_chart) .nt_widget .nt_img_wrap {
    border: 1px solid #ddd;
    margin-bottom: .4em;
    overflow: hidden; }
    .nt_wrapper:not(.nt_chart) .nt_widget .nt_img_wrap img {
      margin: 0 auto; }
  .nt_wrapper:not(.nt_chart) .nt_widget a.nt_btn {
    color: #fff;
    display: inline-block;
    margin-bottom: 1em;
    padding: .3em .7em;
    text-decoration: none;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em; }

.nt_item_wrap {
  overflow: hidden; }

.nt_product_title {
  font-size: 1.1em;
  margin-bottom: .5em; }

.nt_product_price {
  font-size: 1.4em;
  margin: .3em 0; }

.nt_img_right .nt_widget .nt_item_wrap {
  padding-bottom: 0; }
  .nt_img_right .nt_widget .nt_item_wrap div.nt_img_wrap {
    border: 0;
    float: right;
    margin-left: 1em; }
  .nt_img_right .nt_widget .nt_item_wrap .nt_product_title {
    margin-right: 90px; }

.nt_column .nt_product_price,
.nt_row .nt_product_price,
.nt_grid .nt_product_price {
  float: left;
  margin-right: .6em; }
.nt_column a.nt_btn,
.nt_row a.nt_btn,
.nt_grid a.nt_btn {
  margin-top: .5em; }

.nt_column.nt_img_above a.nt_btn {
  float: right; }

.nt_column.nt_img_right li {
  border-top: 1px solid #ddd; }

.nt_column .nt_item_wrap {
  padding: 1em 0; }

.nt_row {
  width: 100%; }
  .nt_row.nt_r3 li, .nt_row.nt_r4 li {
    float: left;
    width: 33%; }
  .nt_row.nt_r3 li:first-child, .nt_row.nt_r4 li:first-child {
    padding-right: 0.5em; }
  .nt_row.nt_r3 li:nth-child(2), .nt_row.nt_r4 li:nth-child(2) {
    padding: 0 0.5em; }
  .nt_row.nt_r3 li:last-child, .nt_row.nt_r4 li:last-child {
    padding-left: 0.5em; }
  .nt_row.nt_r4 li {
    width: 25%; }
  .nt_row.nt_r4 li:nth-child(3) {
    padding: 0 0.5em; }

.nt_grid .nt_row .nt_item_wrap {
  float: left; }
.nt_grid .nt_row .nt_item_wrap:first-child {
  padding-right: 0.5em; }
.nt_grid .nt_row .nt_item_wrap:last-child {
  padding-left: 0.5em; }

.nt_2_column .nt_item_wrap {
  width: 50%; }

.nt_3_column .nt_item_wrap {
  width: 33.3%; }
.nt_3_column .nt_item_wrap:nth-child(2) {
  padding: 0 0.5em; }

.nt_chart table {
  width: 100%; }
  .nt_chart table th,
  .nt_chart table td {
    border-bottom: 1px solid #ddd;
    padding: 3px; }
  .nt_chart table .nt_peak_time_wrapper {
    padding: 0;
    text-align: center; }
    .nt_chart table .nt_peak_time_wrapper .nt_item_info {
      height: 100%; }
      .nt_chart table .nt_peak_time_wrapper .nt_item_info td {
        border-bottom: 0;
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        -ms-border-radius: 0.2em;
        -o-border-radius: 0.2em;
        border-radius: 0.2em; }
  .nt_chart table th {
    text-align: left; }
    .nt_chart table th svg {
      margin: 0 auto; }
  .nt_chart table .nt_position {
    min-width: 25px; }
  .nt_chart table .nt_table_item {
    padding: .5em 1em; }
  .nt_chart table .nt_peak {
    min-width: 15px; }
  .nt_chart table .nt_img_wrap {
    /*padding: 5px 5px 5px 0;*/ }
    .nt_chart table .nt_img_wrap img {
      display: block;
      max-height: 40px; }
  .nt_chart table .nt_position,
  .nt_chart table .nt_peak,
  .nt_chart table .nt_time {
    text-align: center; }
  .nt_chart table tfoot td {
    background: #F8F8F7;
    border: 0; }
  .nt_chart table tfoot .nt_item_info td {
    background: #e7e7e4; }
  .nt_chart table tfoot .nt_table_item {
    background: #F8F8F7 url(../img/ntoklo_logo_charts.png) no-repeat 95% center; }

.nt_style.nt_wrapper {
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .nt_style.nt_wrapper .nt_header {
    margin: 0;
    padding: .5em;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -o-border-top-right-radius: 3px;
    border-top-right-radius: 3px; }
.nt_style.nt_product_title {
  border-bottom: 1px solid #ddd; }
.nt_style.nt_row.nt_r3 li, .nt_style.nt_row.nt_r4 li {
  padding: 0.5em; }
.nt_style.nt_grid .nt_item_wrap, .nt_style.nt_column .nt_item_wrap {
  padding: 1em; }

.nt_chart .nt_logo {
  background: transparent url(../img/ntoklo_logo_charts.png) no-repeat right center; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .nt_chart .nt_logo {
      background-image: url(../img/ntoklo_logo_charts_2x.png);
      background-size: 142px 27px; } }

@media screen and (max-width: 768px) {
  .nt_wrapper .nt_row li .nt_item_wrap img {
    max-height: 100px; }

  .nt_style .nt_header {
    padding: 0.5rem 1em; }
  .nt_style .nt_row .nt_header {
    padding: 0.5em 1rem; }
  .nt_style.nt_grid.nt_2_column .nt_row .nt_item_wrap {
    padding: 1em;
    width: 50%; } }
@media screen and (max-width: 480px) {
  .nt_wrapper.nt_row li {
    width: 100%; }
  .nt_wrapper.nt_grid.nt_2_column .nt_row .nt_item_wrap, .nt_wrapper.nt_grid.nt_3_column .nt_row .nt_item_wrap {
    margin: 0;
    padding: 1em;
    width: 100%; }

  .nt_style .nt_header {
    padding: 0.5rem 1em; } }
@media screen and (max-width: 320px) {
  .nt_wrapper.nt_row li {
    border-bottom: 1px solid #ddd;
    width: 100%; }
  .nt_wrapper.nt_column.nt_img_right .nt_product_price {
    float: none; }
  .nt_wrapper.nt_column.nt_img_right a {
    margin-top: 0; }
  .nt_wrapper.nt_grid.nt_2_column .nt_row .nt_item_wrap, .nt_wrapper.nt_grid.nt_3_column .nt_row .nt_item_wrap {
    width: 100%; }

  .nt_style .nt_header {
    padding: 0.5rem 1em; } }
/* color schemes */
.nt_wrapper {
  background: transparent; }

.nt_item_info td {
  background: #ecece9; }

.nt_wrapper.nt_plum:not(.nt_chart) .nt_widget a.nt_btn {
  background: #AC1873; }
  .nt_wrapper.nt_plum:not(.nt_chart) .nt_widget a.nt_btn:hover, .nt_wrapper.nt_plum:not(.nt_chart) .nt_widget a.nt_btn:focus {
    background: #d91e91; }
.nt_wrapper.nt_pink:not(.nt_chart) .nt_widget a.nt_btn {
  background: #CE0E5C; }
  .nt_wrapper.nt_pink:not(.nt_chart) .nt_widget a.nt_btn:hover, .nt_wrapper.nt_pink:not(.nt_chart) .nt_widget a.nt_btn:focus {
    background: #f01f74; }
.nt_wrapper.nt_orange:not(.nt_chart) .nt_widget a.nt_btn {
  background: #D15915; }
  .nt_wrapper.nt_orange:not(.nt_chart) .nt_widget a.nt_btn:hover, .nt_wrapper.nt_orange:not(.nt_chart) .nt_widget a.nt_btn:focus {
    background: #ea732f; }
.nt_wrapper.nt_green:not(.nt_chart) .nt_widget a.nt_btn {
  background: #4A9834; }
  .nt_wrapper.nt_green:not(.nt_chart) .nt_widget a.nt_btn:hover, .nt_wrapper.nt_green:not(.nt_chart) .nt_widget a.nt_btn:focus {
    background: #5dbe41; }
.nt_wrapper.nt_blue:not(.nt_chart) .nt_widget a.nt_btn {
  background: #008999; }
  .nt_wrapper.nt_blue:not(.nt_chart) .nt_widget a.nt_btn:hover, .nt_wrapper.nt_blue:not(.nt_chart) .nt_widget a.nt_btn:focus {
    background: #00b7cc; }
.nt_wrapper.nt_dark_blue:not(.nt_chart) .nt_widget a.nt_btn {
  background: #5F668A; }
  .nt_wrapper.nt_dark_blue:not(.nt_chart) .nt_widget a.nt_btn:hover, .nt_wrapper.nt_dark_blue:not(.nt_chart) .nt_widget a.nt_btn:focus {
    background: #7980a3; }

.nt_style.nt_plum .nt_header, .nt_style.nt_pink .nt_header, .nt_style.nt_orange .nt_header, .nt_style.nt_green .nt_header, .nt_style.nt_blue .nt_header, .nt_style.nt_dark_blue .nt_header {
  color: #fff; }
.nt_style.nt_plum {
  /*&.nt_chart {
  	th {
  		background: #F6E8F1;
  	}
  }*/ }
  .nt_style.nt_plum .nt_header {
    background-color: #AC1873; }
  .nt_style.nt_plum a {
    color: #AC1873; }
  .nt_style.nt_plum .nt_product_price {
    color: #7f1255; }
.nt_style.nt_pink {
  /*&.nt_chart {
  	th {
  		background: #FAEAF1;
  	}
  }*/ }
  .nt_style.nt_pink .nt_header {
    background-color: #CE0E5C; }
  .nt_style.nt_pink a {
    color: #CE0E5C; }
  .nt_style.nt_pink .nt_product_price {
    color: #9e0b47; }
.nt_style.nt_orange {
  /*&.nt_chart {
  	th {
  		background: #fdf0e8;
  	}
  }*/ }
  .nt_style.nt_orange .nt_header {
    background-color: #D15915; }
  .nt_style.nt_orange a {
    color: #D15915; }
  .nt_style.nt_orange .nt_product_price {
    color: #a34510; }
.nt_style.nt_green {
  /*&.nt_chart {
  	th {
  		background: #dff2d9;
  	}
  }*/ }
  .nt_style.nt_green .nt_header {
    background-color: #4A9834; }
  .nt_style.nt_green a {
    color: #4A9834; }
  .nt_style.nt_green .nt_product_price {
    color: #387227; }
.nt_style.nt_blue {
  /*&.nt_chart {
  	th {
  		background: #E5F2F3;
  	}
  }*/ }
  .nt_style.nt_blue .nt_header {
    background-color: #008999; }
  .nt_style.nt_blue a {
    color: #008999; }
  .nt_style.nt_blue .nt_product_price {
    color: #005b66; }
.nt_style.nt_dark_blue {
  /*&.nt_chart {
  	th {
  		background: #E5F2F3;
  	}
  }*/ }
  .nt_style.nt_dark_blue .nt_header {
    background-color: #5F668A; }
  .nt_style.nt_dark_blue a {
    color: #5F668A; }
  .nt_style.nt_dark_blue .nt_product_price {
    color: #4a506c; }

/*# sourceMappingURL=widget.css.map */
